In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [2]:
#Reading the csv file using pd.read_csv()
df=pd.read_csv(r"C:\Users\RAGHAVENDRA KUMAR\Downloads\hyderabad_eta_data.csv")
df1=df.copy()
df1.head()

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490

# Data preprocessing

In [3]:
#Checking the null values
df1.isnull().sum()

start_lat            0
start_lng            0
end_lat              0
end_lng              0
distance_km          0
traffic_density      0
weather_condition    0
day_of_week          0
hour_of_day          0
ETA                  0
dtype: int64

In [4]:
#Checking the duplicate values
df1.duplicated().sum()

0

In [5]:
df1.corr()

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,day_of_week,hour_of_day,ETA
start_lat,1.000000,0.029310,0.014518,-0.029424,0.034785,-0.024754,0.055406,-0.014557,-0.030701
start_lng,0.029310,1.000000,0.027262,-0.005791,0.032911,0.000297,-0.048353,0.014242,-0.007978
end_lat,0.014518,0.027262,1.000000,-0.013560,-0.008858,-0.014043,-0.057856,-0.006245,0.061752
end_lng,-0.029424,-0.005791,-0.013560,1.000000,-0.044812,0.034494,0.017789,-0.012494,0.009425
distance_km,0.034785,0.032911,-0.008858,-0.044812,1.000000,-0.031475,0.066093,0.022646,-0.008686
traffic_density,-0.024754,0.000297,-0.014043,0.034494,-0.031475,1.000000,-0.010457,0.018572,-0.009196
day_of_week,0.055406,-0.048353,-0.057856,0.017789,0.066093,-0.010457,1.000000,0.020010,0.072280
hour_of_day,-0.014557,0.014242,-0.006245,-0.012494,0.022646,0.018572,0.020010,1.000000,0.009233
ETA,-0.030701,-0.007978,0.061752,0.009425,-0.008686,-0.009196,0.072280,0.009233,1.000000

# Data cleaning

## Feature Engineering

In [6]:
df1

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,clear,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,rainy,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,clear,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,rainy,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,rainy,3,12,21.053944

# Model building

In [7]:
#splitting the input and output

In [8]:
df1["weather_condition"].unique()

array(['rainy', 'clear', 'foggy'], dtype=object)

In [9]:
df1["weather_condition"]=df1["weather_condition"].map({'rainy':1,'clear':2,"foggy":3})

In [10]:
df1

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,1,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,2,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,1,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,2,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,2,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,2,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,1,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,2,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,1,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,1,3,12,21.053944

In [11]:
x=df1.drop("ETA",axis=1)
y=df1[["ETA"]]

In [12]:
x.head()#input

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,1,3,17
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,2,5,14
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,1,6,8
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,2,2,17
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,2,1,2

In [13]:
y.head()#output

         ETA
0  26.113020
1  58.715248
2  59.316409
3  35.630253
4  56.713490

In [14]:
from sklearn.model_selection import train_test_split #For train_test data

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=13)

# Linear regression

In [16]:
from sklearn.linear_model import LinearRegression #for linearegression model
lin_re=LinearRegression()

In [18]:
lin_re.fit(x_train,y_train) #fit on trained data

LinearRegression()

In [19]:
y_pred=lin_re.predict(x_test)

In [20]:
#Evaluation metrics
from sklearn.metrics import mean_squared_error

In [21]:
mean_squared_error(y_test,y_pred)

248.27823503969978

# KNN regression

In [22]:
from sklearn.neighbors import KNeighborsRegressor
knn_re=KNeighborsRegressor()
knn_re.fit(x_train,y_train) #fit on trained data
y_pred=knn_re.predict(x_test)
mean_squared_error(y_test,y_pred)

269.6128649806886

# Decision Tree

In [23]:
from sklearn.tree import DecisionTreeRegressor
DT_re=DecisionTreeRegressor()
DT_re.fit(x_train,y_train) #fit on trained data
y_pred=knn_re.predict(x_test)
mean_squared_error(y_test,y_pred)

269.6128649806886

# SVM

In [24]:
from sklearn.svm import SVR
svm_re=SVR()
svm_re.fit(x_train,y_train) #fit on trained data
y_pred=knn_re.predict(x_test)
mean_squared_error(y_test,y_pred)

C:\Users\RAGHAVENDRA KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

269.6128649806886

# Deployment

In [30]:
start_lat=float(input("Enter the start latitude : "))
start_lng=float(input("Enter the start longitude : "))
end_lat=float(input("Enter the end latitude : "))
end_lng=float(input("Enter the end longitude : "))
dist=float(input("Enter the distance : "))
density=int(input("Enter the density : "))
weather=int(input("Enter the weather report :"))
day=int(input("Enter the day : "))
hour=int(input("Enter the hours : "))
time=lin_re.predict([[start_lat,start_lng,end_lat,end_lng,dist,density,weather,day,hour]])
print("The Estimated time : ",time[0][0])

Enter the start latitude : 17.87
Enter the start longitude : 78.67
Enter the end latitude : 17.96
Enter the end longitude : 78.89
Enter the distance : 16
Enter the density : 4
Enter the weather report :1
Enter the day : 3
Enter the hours : 12
The Estimated time :  42.751819554152576

C:\Users\RAGHAVENDRA KUMAR\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
!pip install pickle

In [25]:
import pickle

In [26]:
pickle.dump(lin_re,open("estimator.pkl","wb"))

In [27]:
model=pickle.load(open("estimator.pkl","rb"))

In [28]:
model

LinearRegression()